.parent-dropdown-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 41px
}
.dropdown-container {
    display: flex;
    justify-content: flex-end; /* Align to the right */
    width: fit-content;
    align-items: center;
    margin: 0px;
    gap: 10px;
    margin-right: 20px;
}

.parent-dropdown-holder :last-child {
    margin-right: 0px;
}


.dropdown-select {
    min-height: 36px;
    min-width: 150px;
    width: auto;
    max-width: 100%;
}

.dropdown-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.segment-label-trip {
    font-size: 13.5px;
    font-weight: 500;
}
