/* Navbar styling */
.my-navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100vw; /* Ensure it spans the entire viewport width */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 10px 20px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

.navbar-brand{
    align-items: flex-start;
    margin-top: 0;
    font-size: 20px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto; 
    gap: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 5px; 
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

/* Container for the navigation options */
.nav-options {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 30px; 
}

/* Navbar option styling */
.nav-option {
    padding: 8px 16px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    margin-right: 10px; /* Add margin to avoid crowding */
}

/* Remove the margin from the last item */
.nav-option:last-child {
    margin-right: 0;
}

/* Hover effect */
.nav-option:hover {
    background-color: #f0f0f0;
}

/* Active option styling */
.nav-option.active {
    background-color: #e0f7e0;
    border-color: #b0dab0;
    font-weight: bold;
}
